*{
    margin: 0px;
    width: auto;
    line-height: 100%;
    /* display: flex; */
}
.navA{
    padding-right: 40px;
    text-align: right;
    font-size: 30px;
    padding-top: 20px;
    word-spacing: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
}
nav a{
    transition: 1s;
    text-decoration: overline;
    color: rgb(119, 0, 255);
}

nav a:hover{
    font-size: 40px;
    text-decoration: underline;
    color: rgb(226, 43, 43);
}
.sign{
    width: 30px;
    margin: 0px;
    position: relative;
    left: -100px;
    top: -80px;
}
header{
    height: 60px;
    background-color: wheat;
}
.div1 h1{
    /* font-size: 3en; */
    position: relative;
    top: -200px;
    right: -200px;
    font-size: 40px;
}
.div1 p{
    letter-spacing: 1px;
    line-height: 25px;
    width: 1200px;
    position: relative;
    right: -250px;
    top: -200px;
    color: crimson;
    font-size: larger;
}
.div1{
    border: 1px solid rgb(153, 74, 153);
    padding: 20px;
    background-color: rgb(221, 235, 235);
    height: 200px;
    padding-top: 40px;
}
h1{
   padding: 20px; 
}
table{
    font-size: 20px;
    border: 1px solid rgb(240, 223, 223);
    /* padding-left: 30px; */
    width: 500px;
    height: 400px;
    position: relative;
    right: -500px;
    /* top:-900px;  */
    bottom: 900px;
}
table td{
    border: 1px solid white;
    padding-left: 50px;
}
.div2{
    background-color: white;
    padding: 10px;
    height: 550px;
}
.div2 h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-decoration: underline;
}
.div2 img:nth-of-type(1){
    position: relative;
    left: 1100px;
    top: -500px;    
}
#box{
    background-color: black;
    color: white;
}
#abc{
    width: 500px;
    height: 500px;
}
.img{
    position: relative;
    top: -485px;
    left: -400px;
}
#skills{
    background-color: rgb(225, 218, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* line-height: 2px; */
    /* margin-bottom: 10px; */
    padding: 0px;
    height: 800px;
}
.skills-h1
{
    text-decoration: underline;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: darkred;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skills ul
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.first{
    background-color: rgb(177, 173, 149);
    padding-left: 170px;
    margin: 20px;
    width: 900px;
    height: 80px;
    transform: rotate(-3deg);
}
.second{
    background-color: rgb(171, 201, 196);
    padding-left: 170px;
    margin: 20px;
    width: 900px;
    height: 80px;
    transform: rotate(-3deg);
}
.third{
    background-color: rgb(172, 135, 163);
    padding-left: 170px;
    margin: 20px;
    width: 900px;
    height: 80px;
    transform: rotate(-3deg);   
}
.fourth{
    background-color: rgb(145, 179, 142);
    padding-left: 170px;
    margin: 20px;
    width: 900px;
    height: 80px;
    transform: rotate(-3deg);
}
.fifth{
    background-color: rgb(141, 146, 161);
    padding-left: 170px;
    margin: 20px;
    width: 900px;
    height: 80px;
    transform: rotate(-3deg);
}
footer{
    background-color: wheat;
    height: 80px;
    transition: 1.5s;
    margin-bottom: 0px;
    color: crimson;
} 
 footer:hover{
    color: blue;
    width:80;
    height: 80px;
    background-color: rgb(180, 209, 203);
}
.social{
    text-align: center;
    margin: 0px;
    position: relative;
    top: -10px;
     padding-left: 300px;
}
.info{
    text-align: left;
    position: relative;
    top: 30px;
    left: 20px;
    display: inline-block;
}
div h3{
    display: inline-block;
}
#one
{
    margin-left: 100px;
    margin-right: 100px;
} 
marquee{
    width: 100%;
}
