*{
    margin: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    color: white;
    /* color: #a52a2a; */
}
body{
    background-color: black;
    /* background-color: #f5f5dc; */
    color: black;
    /* color: #a52a2a; */
    text-align: justify left;
    margin: 0px;
}
header{
    height: 70px;
    text-align: right;
    word-spacing: 120px;
    /* padding: 40px; */
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 30px;
}
#sign{
    height: 200px;
    width: 200px;
}
nav{
    margin-top: 100px;
    /* padding: 40px; */
    /* background-color: gray; */
    transition: 1s;
}
#first{
    padding: 10px;
}
#second{
    padding:10px;
    transition: 1s;
}
#third{
    padding:10px;
    transition: 1s color;
}
a:hover{
    color: wheat;
    /* font-size: larger; */
}
.abc
{
    margin-bottom: 20px;
}
div{
    margin-top: 20px;
}
.shaurya{
    margin-top:20px;
}
footer{
    margin-left: 50px;
    text-align: center;
    word-spacing: 20px;
    position: relative;
    bottom: 50px;
}
.l1{
    margin-right: 20px;
    margin-top: 0px;
}
.l2{
    margin-top: 6.5px;
}
.l3{
    margin-left: 20px;
    margin-top: 6.5px;
}
.l1:hover img{
    width: 70px;
    height: 70px;
}
.l2:hover img{
    width: 70px;
    height: 70px;
}
.l3:hover img{
    width: 70px;
    height: 70px;
}
div img{
    width: 400px;
    height: 350px;
    border: 5px solid white;
    border-radius: 50%;
}
#profile{
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 300px;
}
#flex{
    display: flex;
    flex-direction: row;
}
#flex-text{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#h1{
    font-family: cursive;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
nav a{
    font-size: 30px;
}
hr{
    margin-top: 20px;
    /* margin-bottom: 10px; */
}
#about{
    /* color: black;
    background-color: white; */
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    /* background-color: grey; */
    /* width: 100%;
    background-color: white; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
